# Ignore all log files
*.log

# Ignore specific sensitive credential file
info_and_keys.json

# Ignore local requirements file that may different from main settings
requirements_agent_local.txt
requirements_opensim_local.txt

# Ignore OpenSim simulation outputs
opensim_files/opensim_files/Output_Folder/

# Ignore potential issues file that for remind personally to check and address, but not relevant to the codebase
potential_isses_might_need_addressing.txt